/*import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@700&family=Roboto:wght@700&family=Sora:wght@600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Import dos tamanhos diferentes de telas */
@import url("styles/mobile.css");
@import url("styles/tablet.css");
@import url("styles/desktop.css");

:root {
    --font-texto: 'Inter', sans-serif;
    --font-botao: 'Nunito', sans-serif;
    --font-preco: 'Roboto', sans-serif;
    --font-titulo: 'Sora', sans-serif;

    --botao: #0F9AFE;
    --azul-background: #EFF8FF;
    --card-background:#293145;
    --branco-background:#FFFFFF;
    --titulo-color:#293145;
    --texto-color:#6E7275;
    --menu-background: #dfeef9f4;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}


